footer {
    background-color: rgb(209, 186, 221);
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: #ffffff;
    font-weight: 500;
}

@media screen and (max-width: 00px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}